body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#root {
	/* flex-контейнер для <header>, <main> и <footer> */
	display: flex;
	/* flex-элементы <header>, <main> и <footer> выстаиваются по вертикали */
	flex-direction: column;
	/* вся высота viewport браузера */
	min-height: 100vh;
}
main {
	/*
	может как увеличиваться, так и уменьшаться, чтобы вместе с
	<header> и <footer> занять всю высоту viewport браузера
	*/
	flex: 1 1 auto;
}

.movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}